In [1]:

-- Create the table in the specified schema
CREATE TABLE [HW3_R]
(
    [key] INT NOT NULL PRIMARY KEY, -- Primary Key column
    [name] NVARCHAR(50),
    [joinKey1] INT
    -- Specify more columns here
);

In [7]:
-- Create the table in the specified schema
CREATE TABLE [HW3_S]
(
    [key] INT NOT NULL PRIMARY KEY, -- Primary Key column
    [romanNumeral] NVARCHAR(10),
    [joinKey2] INT
    -- Specify more columns here
);

In [12]:
-- Insert rows into table 'TableName' in schema '[dbo]'
INSERT INTO [HW3_R]
( -- Columns to insert data into
 [key], [name], [joinKey1]
)
VALUES
( -- First row: values for the columns in the list above
 1, 'Andrea', 101
),
( -- Second row: values for the columns in the list above
 2, 'David', null
),
( -- Second row: values for the columns in the list above
 3, 'David', null
),
( -- Second row: values for the columns in the list above
 4, 'Dan', null
),
( -- Second row: values for the columns in the list above
 5, 'John', 106
)
-- Add more rows here

In [17]:
-- Insert rows into table 'TableName' in schema '[dbo]'
INSERT INTO [HW3_S]
( -- Columns to insert data into
 [key], [romanNumeral], [joinKey2]
)
VALUES
( -- First row: values for the columns in the list above
 6, 'V', 101
),
( -- Second row: values for the columns in the list above
 7, 'X', null
),
( -- Second row: values for the columns in the list above
 8, 'L', 105
)

: Msg 2627, Level 14, State 1, Line 2
Violation of PRIMARY KEY constraint 'PK__HW3_S__DFD83CAEC617823B'. Cannot insert duplicate key in object 'dbo.HW3_S'. The duplicate key value is (6).

In [18]:
select * from HW3_S

key,romanNumeral,joinKey2
6,V,101
7,X,NULL
8,L,105

# i.

In [57]:
select * from HW3_R where joinKey1 = 101;

key,name,joinKey1
1,Andrea,101

# ii.

In [58]:
select * from HW3_R where joinKey1 != 101

key,name,joinKey1
5,John,106

# iii.

In [59]:
select * from HW3_R where joinKey1 is null

key,name,joinKey1
2,David,NULL
3,David,NULL
4,Dan,NULL

# iv.

In [60]:
select [name], joinKey1 from HW3_R

name,joinKey1
Andrea,101
David,NULL
David,NULL
Dan,NULL
John,106

# v.

In [61]:
select joinKey1 from HW3_R

joinKey1
101
NULL
NULL
NULL
106

# vi.

In [62]:
select * from HW3_R join HW3_S on joinKey1 = joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
1,Andrea,101,6,V,101

In [65]:
select * from HW3_R cross join HW3_S where joinKey1 = joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
1,Andrea,101,6,V,101

In [64]:
select * from HW3_R full outer join HW3_S on joinKey1 = joinKey2 where joinKey1 = joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
1,Andrea,101,6,V,101

# vii.

In [66]:
select * from HW3_R join HW3_S on joinKey1 != joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
5,John,106,6,V,101
1,Andrea,101,8,L,105
5,John,106,8,L,105

In [69]:
select * from HW3_R cross join HW3_S where joinKey1 != joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
5,John,106,6,V,101
1,Andrea,101,8,L,105
5,John,106,8,L,105

In [70]:
select * from HW3_R full outer join HW3_S on joinKey1 != joinKey2 where joinKey1 != joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
5,John,106,6,V,101
1,Andrea,101,8,L,105
5,John,106,8,L,105

# viii.

In [27]:
select * from HW3_R full outer join HW3_S on joinKey1 = joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
1,Andrea,101,6,V,101
2,David,NULL,NULL,NULL,NULL
3,David,NULL,NULL,NULL,NULL
4,Dan,NULL,NULL,NULL,NULL
5,John,106,NULL,NULL,NULL
NULL,NULL,NULL,7,X,NULL
NULL,NULL,NULL,8,L,105

In [4]:
select * from HW3_R right outer join HW3_S on joinKey1 = joinKey2
UNION
select * from HW3_R left outer join HW3_S on joinKey1 = joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
NULL,NULL,NULL,7,X,NULL
NULL,NULL,NULL,8,L,105
1,Andrea,101,6,V,101
2,David,NULL,NULL,NULL,NULL
3,David,NULL,NULL,NULL,NULL
4,Dan,NULL,NULL,NULL,NULL
5,John,106,NULL,NULL,NULL

# ix.

In [20]:
select * from HW3_R left outer join HW3_S on joinKey1=joinKey2

key,name,joinKey1,key,romanNumeral,joinKey2
1,Andrea,101,6,V,101
2,David,NULL,NULL,NULL,NULL
3,David,NULL,NULL,NULL,NULL
4,Dan,NULL,NULL,NULL,NULL
5,John,106,NULL,NULL,NULL

In [71]:
select * from HW3_R full outer join HW3_S on joinKey1=joinKey2 where not (HW3_R.[key] is null and [name] is null and joinKey1 is null)

key,name,joinKey1,key,romanNumeral,joinKey2
1,Andrea,101,6,V,101
2,David,NULL,NULL,NULL,NULL
3,David,NULL,NULL,NULL,NULL
4,Dan,NULL,NULL,NULL,NULL
5,John,106,NULL,NULL,NULL

# x.

In [72]:
select * from HW3_R where joinKey1 in (select joinKey2 from HW3_S)

key,name,joinKey1
1,Andrea,101

In [73]:
select * from HW3_R where joinKey1 in (select joinKey2 from HW3_S where joinKey1 = joinKey2)

key,name,joinKey1
1,Andrea,101

# xi.

In [1]:
select * from HW3_R where not exists (select joinKey2 from HW3_S where joinKey1 = joinKey2)

key,name,joinKey1
2,David,NULL
3,David,NULL
4,Dan,NULL
5,John,106

In [2]:
select * from HW3_R where joinKey1 in (select joinKey1 from HW3_R except select joinKey2 from HW3_S) or joinKey1 is null

key,name,joinKey1
2,David,NULL
3,David,NULL
4,Dan,NULL
5,John,106